.guinness {
  background-color: var(--green);
  color: var(--white);
  padding: 120px 60px 0;
  display: grid;
  grid-template-columns: 5fr 7fr;
  gap: 60px;

  & .guinness-text {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & h2 {
      font-size: 3.5rem;
      font-weight: 900;
      margin-bottom: 20px;
    }

    & p {
      font-size: 1.2rem;
      font-weight: 200;
      line-height: 1.6;
    }
  }
}

@media (max-width: 800px) {
  .guinness {
    grid-template-columns: 1fr;
    text-align: center;
    padding: 60px 60px;

    & .guinness-image {
      order: 2;

      & img {
        width: 100%;
        height: auto;
        margin: 0 auto;
      }
    }

    & .guinness-text {
      & h2 {
        font-size: 2.8rem;
        line-height: 1.5;
      }

      & p {
        font-size: 1.6rem;
        /* max-width: 30ch; */
      }
    }
  }
}
